* {
    margin: 0;
    padding: 0;  
}


/* classi CSS generali */

 .margine {
     margin-top: 10px;
 }

.color_text {
    color: rgb(153, 153, 153);
}

.description_text {
    font-size: 13px;
}

.description_text {
    font-size: 13px;
}


/* header */

header { 
    background-color: #518cf5;
    background-image: url(/Users/marco/Desktop/Boolean/esercizi/html-css-booleaner/img/pattern.png);
    background-size: 21%;
    width: 100%;
    height: 80px;
}

.logo {  
    width: 70%;
    margin: auto;
    height: 80px; 
}

img {
    height: 40px;
    margin-top: 30px;
}



/* corpo */

main {
    width: 70%;
    height: 1000px;
    margin: auto;
}


/* section 1 */


.photo_tim {
    width: 49%;
    height: 500px;
}




