* {
    margin: 0;
    padding: 0;  
}



/* classi CSS generali */

.Highlighter_span {
    background-color: yellow;
}

.color_span {
    color: rgb(16, 175, 175);
}

.margine1 {
     margin-top: 10px;
}

.margine2 {
     margin-top: 25px;
}

.color_text {
    color: rgb(153, 153, 153);
}

.description_text {
    font-size: 13px;
}

.description_text {
    font-size: 13px;
}

.color_table_head {
    background-color: rgb(26, 110, 219);
    color: white;
}

.color_table_body {
    background-color: rgb(0, 195, 255);
}



/* header */

header { 
    background-color: #518cf5;
    background-image: url(/Users/marco/Desktop/Boolean/esercizi/html-css-booleaner/img/pattern.png);
    background-size: 21%;
    width: 100%;
}

.logo {  
    width: 70%;
    margin: auto;
    height: 80px; 
}

img {
    height: 40px;
    margin-top: 30px;
}



/* corpo */

main {
    width: 70%;
    margin: auto;
}



/* section 1 */

.photo_tim {
    width: 49%;
    height: 500px;
}



/* section 2  */

ul {
    margin-left: 15px;
}

th {
    width: 200px;
}

table {
    border-collapse: collapse;
}



/* section 3  */

.background_img2 {
    background-image: url(/Users/marco/Desktop/Boolean/esercizi/html-css-booleaner/img/graph.jpg);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.background_img1 {
    width: 200px;
    height: 200px;
    background-image: url(/Users/marco/Desktop/Boolean/esercizi/html-css-booleaner/img/monitor.jpg); 
}

.background_img1 h4,.background_img2 h4  {
   padding: 10px;
   color: white; 
}