

*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    

}

body {
    background-image: url(/Users/marco/Desktop/Boolean/esercizi/html-css-booleaner/img/pattern.png);
    background-color:rgba(36, 35, 35,0.8); 
    background-attachment: fixed;
}


/* classi CSS generali */
.margine1 {
    margin-top: 10px;
}

.margine2 {
    margin-top: 25px;
}

section {
    background-color: ;
    border: 2px solid rgba(116, 26, 26,0.8);
    border-radius: 20px;;
    background-color: rgb(51, 48, 48);
    margin-bottom: 60px;
    padding: 20px;
}

.color_table_head {
    background-color: rgba(0, 0, 0, 0.4);
   
}

.color_table_body {
    background-color: rgba(116, 26, 26, 0.8);
}



/* header */

header {
    margin:auto;
    width: 90%;
    border-radius: 20px;;
    background-size: 40%;
    height: 90px;
    background-color: rgba(116, 26, 26,0.8);
}

.logo {  
    width: 70%;
    margin: auto;
    height: 80px; 
}

img {
    height: 60px;
    margin-top: 30px;
}



/* corpo */

main {
    width: 70%;
    margin: auto;
    
    margin-top: 20px;
    border-radius: 20px;
}



/* section 1 */


.titolo {
    font-size: 25px;
    padding: 20px;
}

.photo_tim {
    width: 49%;
    height: 500px;
    border-radius: 10px;
    margin: 0px 3px 0px 3px ;
}





/* section 2  */
th {
    width: 200px;
    height: 10px;
    padding: 10px;
}
td {
    height: 30px;
    padding: 10px;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}